@import "../common.css";

.container {
    background: var(--clr-700);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 300px;
    background: var(--clr-800);
    margin: 0 auto;
}

footer {
    background: var(--clr-300);
    padding-top: 50px;
    text-align: center;
}